@font-face {
  font-family: 'caecilia-bold';
  src: url('/redesign/global/css/fonts/caecilialtstd-bold-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/redesign/global/css/fonts/caecilialtstd-bold-webfont.woff') format('woff'),
       url('/redesign/global/css/fonts/caecilialtstd-bold-webfont.ttf') format('truetype'),
       url('/redesign/global/css/fonts/caecilialtstd-bold-webfont.svg#webfont_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caecilia';
  src: url('/redesign/global/css/fonts/caecilialtstd-roman-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('/redesign/global/css/fonts/caecilialtstd-roman-webfont.woff') format('woff'),
       url('/redesign/global/css/fonts/caecilialtstd-roman-webfont.ttf') format('truetype'),
       url('/redesign/global/css/fonts/caecilialtstd-roman-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caecilia-light';
  src: url('/redesign/global/css/fonts/caecilialtstd-light-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/redesign/global/css/fonts/caecilialtstd-light-webfont.woff') format('woff'),
       url('/redesign/global/css/fonts/caecilialtstd-light-webfont.ttf') format('truetype'),
       url('/redesign/global/css/fonts/caecilialtstd-light-webfont.svg#webfont_light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caecilia-bold-italic';
  src: url('/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.woff') format('woff'),
       url('/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.ttf') format('truetype'),
       url('/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.svg#webfont_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caecilia-italic';
  src: url('/redesign/global/css/fonts/caecilialtstd-italic-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/redesign/global/css/fonts/caecilialtstd-italic-webfont.woff') format('woff'),
       url('/redesign/global/css/fonts/caecilialtstd-italic-webfont.ttf') format('truetype'),
       url('/redesign/global/css/fonts/caecilialtstd-italic-webfont.svg#webfont_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caecilia-light-italic';
  src: url('/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.woff') format('woff'),
       url('/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.ttf') format('truetype'),
       url('/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.svg#webfont_light_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
